In [17]:
# all the packages
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

import numpy as np
import math as m
import os

In [18]:
# directory with the data
os.chdir('C:\\Users\\rbishwakarma\\Desktop\\value_proposition_in_python\\value_proposition')
# main data
df = pd.read_stata('final.dta')

# R1 and public
df2 = df[(df['public_uni'] != 0) & (df['R1'] != 0)]

In [19]:
# change working directory to keep all tables in one folder
os.chdir('C:\\Users\\rbishwakarma\\Desktop\\value_proposition_in_python\\value_proposition\\tables')

In [20]:
# Descriptive tables
# tables
table1 = ['retention_rate', 'graduation_four', 'graduation_six','early_career']
table2 = ['instruction_FTE', 'academic_support_FTE', 'student_service_FTE', 
          'research_FTE', 'institutional_support_FTE', 'public_service_FTE', 'all_other_FTE']
table3 = ['SCE', 'expense_ratio']
table4 = ['SATtoACT_math_25', 'ACT_compsite_25', 'pell_grants', 'stem', 'par_median']
table5 = ['female', 'white_percent', 'hispanic_percent', 'asian_percent', 'black_percent', 'american_indian_percent']
table6 = ['R1', 'public', 'salary_instruction', 'student_faculty_ratio', 'ug_total', 'grad_total']
table7 = ['labor_market', 'labor_market_STEM', 'unemployment15', 'performance_funding_state']

columns = [table1, table2, table3, table4, table5, table6, table7]
filename = ['table1', 'table2', 'table3', 'table4', 'table5', 'table6', 'table7']

dataframe = [df, df2]
filename2 = ['all', 'r1_pub']

# calculating descriptive 
def descriptive(dataframe, columns):
    for j in range(len(dataframe)):
        for i in range(len(columns)):
            table = dataframe[j][columns[i]].describe().loc[['count','mean', 'std']] 
            table = round(table, 2).transpose().rename_axis('variable',axis=0).reset_index()
            #table = pd.Index(['variable', 'count','mean', 'std'])
            table.to_csv(str(filename[i])+'_'+str(filename2[j])+'.csv', index = False)
    return table

In [21]:
descriptive(dataframe, columns)

            variable  count   mean    std
0       labor_market   80.0  21.76  13.79
1  labor_market_STEM   80.0  18.59  12.59
2     unemployment15   80.0   5.21   0.83

In [22]:
# UNM values
table_unm = df.loc[df['name'] == 'University of New Mexico-Main Campus']

def descriptive(table_unm, columns):
    for i in range(len(columns)):
        table = table_unm[columns[i]].describe().loc['mean'].transpose().rename_axis('variable',axis=0).reset_index() # UNM
        table.to_csv(str(filename[i])+'_UNM'+'.csv', index = False)
    return table

In [23]:
descriptive(table_unm, columns)

            variable  mean
0       labor_market  34.0
1  labor_market_STEM  49.0
2     unemployment15   6.8

# Create a single table for - all, R1-Public and UNM files

In [24]:
import glob

In [25]:
# merge files
def merge_horizontally(flist, **kwargs):
    return pd.concat([pd.read_csv(f, **kwargs) for f in flist], axis=1)

table1 = os.path.join('table1_*.csv')
table1 = merge_horizontally(glob.glob(table1), index_col = None)
table1.to_csv('table1.csv', index = False)

table2 = os.path.join('table2_*.csv')
table2 = merge_horizontally(glob.glob(table2), index_col = None)
table2.to_csv('table2.csv', index = False)


table3 = os.path.join('table3_*.csv')
table3 = merge_horizontally(glob.glob(table3), index_col = None)
table3.to_csv('table3.csv', index = False)

table4 = os.path.join('table4_*.csv')
table4 = merge_horizontally(glob.glob(table4), index_col = None)
table4.to_csv('table4.csv', index = False)

table5 = os.path.join('table5_*.csv')
table5 = merge_horizontally(glob.glob(table5), index_col = None)
table5.to_csv('table5.csv', index = False)

table6 = os.path.join('table6_*.csv')
table6 = merge_horizontally(glob.glob(table6), index_col = None)
table6.to_csv('table6.csv', index = False)

table7 = os.path.join('table7_*.csv')
table7 = merge_horizontally(glob.glob(table7), index_col = None)
table7.to_csv('table7.csv', index = False)

In [26]:
# Remove temp files
for f in glob.glob("*all.csv"):
    os.remove(f)
    
for f in glob.glob('*r1_pub.csv'):
    os.remove(f)
    
for f in glob.glob('*UNM.csv'):
    os.remove(f)